@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background: #f1f3f5;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.page-title {
  display: flex;
  align-items: center;
  font-size: 24px;

  .title {
    margin-left: 10px;
    font-weight: bold;
    color: #4D6F80;
  }
  
  .back-button {
    display: flex;
    align-items: center;

    font-size: 20px;
    height: 30px;
    width: 30px;
    left: 265px;
    top: 120px;
    border-radius: 5px;
    background: #31878C;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken(#31878C, 5);
    }
  }
}

.card-list {
  list-style: none;
  padding-left: 0;
}

.card {
  background-color: #fff;
  height: 90px;
  width: 100%;
  left: 265px;
  border-radius: 5px;
  padding: 10px;

  font-size: 14px;

  &-title {
    font-size: 16px;
    margin-bottom: 8px;
    color: #4D6F80;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    color: #8FA7B3;

    strong {
      color: #4D6F80;
    }

    ul {
      padding-left: 0;
      list-style: none;
    }
  }
}
